<h1><%=@post.title%> </h1>
<p><%=@post.body %> <p>
<hr> 
<%= link_to "Edit Post", edit_post_path(@post), :class=> "btn btn-warning" %>
<%= link_to "Remove Post", post_path(@post), method: :delete, data: {confirm: "Are your sure?"}, :class=> "btn btn-danger" %>

<br>
<hr>
<% if @post.comments.any?%>
  <h3>Comments </h3>
<% end %>
<% @post.comments.each do |item| %>
<div>
    <div>
        <strong>
           <%=item.username%>:
        </strong>
    </div>
    <div>
       <%=item.body %>
        <%= link_to "[X]", [item.post, item],
           method: :delete,
           data: {confirm: "Are your sure?"}
         %>
    </div>
    <br>  
</div>    
<% end %>

<%= form_for([@post, @post.comments.build]) do |f| %>
  <h3>Add Comments </h3>
    <p>
       Username 
       <%= f.text_field(:username, {:class => "form-control"}) %>
    </p>
    <p>
       Commet 
       <%= f.text_area(:body, {:class => "form-control"})  %>
    </p>
    <p>
       <%= f.submit("Add Comments",{:class=> "btn btn-warning"}) %>
    </p>
<%end%>